# Godot 4+ specific ignores
.godot/
/android/
exports/BubelTrubel.exe
exports/webubel/index.apple-touch-icon.png
exports/webubel/index.audio.worklet.js
exports/webubel/index.html
exports/webubel/index.icon.png
exports/webubel/index.js
exports/webubel/index.pck
exports/webubel/index.png
exports/webubel/index.wasm
